.root {
  min-height: 300px;
}
.chart-container {
  height: 300px;
  width: 300px;
}
.cte-btn {
  margin-top: 20px;
}
:root {
  --arcgis-charts-pie-chart-width: 300px;
  --arcgis-charts-pie-chart-height: 300px;
}